body,
html {
  margin: 0;
  padding: 0;
  height: 4000px;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 4000px;
  background: black;
}

.square {
  position: absolute;
  background: orangered;
  width: 100px;
  height: 100px;
}
