* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: black;
}

h1 {
  font-size: 90px;
  color: white;
}

p {
  font-size: 35px;
  color: blueviolet;
  font-weight: 600;
}

.sec-2 p {
  color: #0f0;
}

.sec-3 p {
  color: orangered;
}
